body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f7f7f7;
    display: grid;
    justify-content: center;
    gap: 60px;
}

.img-bicicleta {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

p, h1, h2, h3 {
    margin: 0px;
}

p {
    font-size: 20px;
    line-height: 1.3;
}

.logo {
    text-align: center;
    padding: 50px 0;
    font-size: 25px;
}

.nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;

}

.nav-links {
    color: black;
    background-color: white;
    padding: 15px 30px;
    border-radius: 5px;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.introdução {
    background-color: #fff;
    padding: 40px;
    text-align: right;
    position: relative;
    display: grid;
    align-content: center;
    gap: 20px;
    justify-items: end;

}

.ver-mais {
    color: #fff;
    background-color: rgb(240, 45, 45);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.ver-mais:hover {
    background-color: rgb(174, 24, 24);
}

.descrição {
    margin: 20px 0;
}

.detalhe {
    width: 60px;
    height: 4px;
    background-color: rgb(240, 45, 45);
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    right: -30px;
}

.subtitulo {
    font-size: 64px;
    text-align: right;
    color: #c6c6c6;
    padding: 40px;
    display: grid;
    align-content: center;
    text-transform: uppercase;
}

.vantagens {
    background-color: white;
    padding: 40px;
}

.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    margin-bottom: 20px;
}

.vantagens-item p {
    grid-column: 2;
}

footer {
    text-align: center;
    padding: 40px 0;
}


